.title{
    background-color: #fffaaa;
    width: 400px;
    height: 30px;
    margin-top: 10px;
}
.title_1{
    background-color: #07f525;
    width: 400px;
    height: 30px;
    margin-top: 10px;
}